@import "purecss/build/pure-min.css";

html {
  height: 100%;
  width: 100%;
  overflow-x: auto;
}
body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: auto;
}
#app {
  width: 100%;
  height: 100%;
  margin: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  /* Set your content font stack here: */
  /*
  font-family: Georgia, Times, "Times New Roman", serif;
  */
  font-family: Avenir, Helvetica, Arial, sans-serif;
}
